.tab{
	margin-right: 1%;
}
.tab-8{
	margin-right: 8%;
}
.errorlist,
.errorlist.nonfield{
	display:none;
}
h1, h2, h3, h4{
	font-weight: 100;
}
.auth-text u{
	color: #ff5500;
}
.auth-text{
	color: #7f7f7f;
}
.auth-button{
	color: #81c003;
}
.auth-container a{
	color: #ff5500;
}
.auth-container{
	padding-right: 10%;
	text-align: right;
	width: 100%;
	font-weight: 100;
	font-family: 'Nunito', sans-serif;
	font-size: 0.8em;
}
.span-line::after{
	content: "  |  ";
}
.navbar-light .navbar-nav .nav-link {
	color: #8a815d;
	font-size: 1.2em;
}
a.decor:hover {
	text-decoration: underline;
}
.r{
	float: right;
	margin-right: 0%;
}
.fw700{
	font-weight: 700;
	font-size: 3em;
}
.fw100,
.col-md-3,
.tab-content,
.nav-item{
	font-weight: 100;
}
.mt-7{
	margin-top: 10%;
}
#logo{
	width: 110px;
}
.fixed-top{
	top: 4%;
}
.home_title{
	color: #81c003;
	font-weight: 300;
}
.green-bg{
	text-align:center;
	color: white;
	background-color: #81c003;
	font-weight: 100;
	height: 2em;
}
.table{
	background-color: white;
	margin-bottom: 0;
	width: 100%;
}
.table-all-orders{
	background-color: white;
	margin-bottom: 3%;
	width: 100%;
}
.table-container{
	background-color: white;
}
.table-all-orders td,
.table-all-orders th{
	padding:0.75rem;
	vertical-align: top;
}
.table-all-orders th{
	border-top: 1px solid #dee2e6;
	background-color: #f3f3f3
}
.table-all-orders th{
	border-bottom: 1px solid #dee2e6;
}
#checkout_lnk{
	font-family: 'Nunito', sans-serif;
	font-size: 1.3em;
	overflow:hidden;
	Z-index: 11;
	color: #ff5500;
	margin-left: 16%;
}
#checkout_lnk a:hover{
	color: #ff5500;
}

a.green-text,
.nav-link,
a.green-text:hover,
.nav-link:hover{
	color: #81c003;
}

.img-micro{
	height:30px;
	margin-right: 5px;
}
html, body{
	height: 100%;
	max-height: 100%;
	font-family: 'Nunito', sans-serif;
	background-repeat: repeat;
}

#cart_total_nmb,
.shopping-cart-ico{
	font-size: 0.8em;
	color: #f76a18;
}
pre {
	color: grey;
    -o-tab-size: 4; /* Opera */
    -moz-tab-size: 4; /* Firefox */
}
a#navbarDropdownMenuLink.nav-link.dropdown-toggle::after {
	content: none;
}
#cart-dropdown{
	left: -108%;
}
.cart-items li,
.cart-items{
	font-size: 0.8em;
	color: #595f65;
	width: 100%;
	display: block;
	padding: .25rem 1.5rem;
	white-space: nowrap;
}
.section2{
	padding-top: 3rem;
}
a.delete-item {
	color: #595f65;
}
a.delete-item:hover{
	text-decoration: none;
	color: black;
}
.right{
	margin-left: auto;
	margin-right: 9%;
}
.center{
	text-align: center;
	padding-right: 0;
	padding-left: 0;
	display: inline-block;
}
.bg{
	background-color: white;
}
.nav-container{
	width: 100%;
	background-color: white;
}
.product-row{
	margin-top:3%;
}
.product-block{
	margin-top: 4%;
	margin-bottom: 10%;
}
.wrapper{
    min-height: 100%;
}
.product-tabs-panel{
	margin-top: 20px;
}
.wrapper-content{
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}
.carousel-title{
	width: 50%;
	background-color: #ff00008c;
}
.carousel-item{
	width: 100%;
}
.product-page-title{
	margin-bottom: 40px;
}
.product-item{
	height: 350px;
	background-color: white;
	border: 1px solid lightgrey;
	position: relative;
	padding: 10px 0 10px 0;
	text-align: center;
	margin-bottom: 90px;
}
.product-page-img-container{
	width: 100%;
	background-color: white;
}
.col-lg-6 img{
	max-width: 100%;
	max-height: auto;
	padding-top: 0%;
	padding-left:15%;
	padding-right:15%;
	padding-bottom: 0%;
}
.group-img{
	position: relative;
	height: 150px;
}
.group-img img{
	
	/* max-width: 100%; */
	max-height: 100%;
	margin-right: 2%;
	align: top;
}
.section-top
{
	padding-bottom: 20px;
}
.add-to-cart-btn
{
	position: absolute;
	bottom: 5px;
	text-align: center;
	right: 0;
	left: 0;
}
.description-container{
	position: absolute;
	top: 182px;
	width: 100%;
}
.price-container{
	position: absolute;
	top: 270px;
	width: 100%;
	font-size: 1.6em;
}
.img-show .img-responsive
{
	max-width: 190px; /* should be same as col-lg width */
	max-height: 170px;
	
}
.img-show p{
	font-weight: 700;
}
.img-show a img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
 
.img-show a img:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }
.discount{
	position: absolute;
	top: 0;
	left: 70%;
	background: red;
	color: white;
	width: 30%;
	font-weight: 700;
	padding: 5px;
	font-size: 1.3rem;
}
.discount_category{
	position: absolute;
	top: 0%;
	left: 0;
	background: red;
	color: white;
	text-align: center;
	width: 7%;
	font-weight: 700;
	padding: 5px;
	font-size: 1.3rem;
}
.title_category_price{
	font-weight: 100;
	font-size: 1.8em;
	position: absolute;
	left: 80%;
}
.module-right{
	position: absolute;
	left: 78%;
	bottom: 15%;
}
.section-delivery {
	margin-bottom: 5%;
	text-align: center;
	background-color: white;
}
.btn-success{
	font-size: 0.8em;
}
.form-error{
	color: red;
}
.footer
{
	position: relative;
	margin-top: -180px;
	padding-top: 30px;
	padding-bottom: 30px;
	clear: both;
	color: white;
	 background-color: #634d3d; /*or #394c36 */
}
#upbutton {
    background: url("/static/img/up5.png") no-repeat top left;
    height: 42px;
    width: 64px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
  }
tr td img.img-responsive {
	width: 120px;
}
.green_links li a{
	color: white;
}
.green_links li a:hover{
	color: #81c003;
}
.show_category{
	margin-top: 10%;
}
.form-group{
	margin-bottom: 0;
}
.col-md-3 form{
	margin-bottom: 3%;
}
.product-group-container {
	max-height: 20%;
}
.product-group-container img{
	height: 100%;
	max-width: 26%;
}
a.email,
a.email:hover{
	color: #81c003;
}
.group-description{
	position: absolute;
	left: 26%;
	font-weight: 100;
}
.checkout-product-nmb{
	width: 70px;
}
.dollar,
#checkout_total_order_amount{
	margin-left: 1%;
	font-size: 3em;
	font-weight:100;
}

.form-control.sbs{
	background-color: #fff0;
	color: white;
}
.form-control.sbs:active,
.form-control.sbs:hover{
	background-color: white;
	color: black;
}








/*      PLUS-MINUS BUTTON                  */
.field.fieldCount.form-control.form-group.center{
	width: 76px;
}
button.bot_pm {
	background-color: white;
	border: 1px solid #CCCCCC;
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
	/*transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;*/
	border-radius: 4px;
	padding-right: 0;
	padding-left: 0;
	display: inline-block;
	
	width:22px;
	/*margin: 20px auto;*/
	font-size: 14px;
	text-align:center;
	height: 38px;
	line-height: 20px;
	/*margin-bottom: 10px;*/
	padding: 4px 6px;
	vertical-align: middle;
	text-decoration:none;
}
button.bot_pm:hover, a.bot8:focus {
   border-color: #d4d4d4;/*rgba(82, 168, 236, 0.8);*/
   /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #19751d;*/
   outline: 0 none;
   background-color: #d4d4d4;
}

/* SLICK  */
.slick-slide img {
    width: 95%;
}
/* CART BUTTON */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");
@keyframes short-press {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hide {
  display: none;
}

.submit-button {

  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: 1px;
  height: 38px;
  width: 120px;
  line-height: 38px;
  overflow: hidden;
  background: #81c003;
  border-radius: 3px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border: 0;
  cursor: pointer;
  transition: all .1s ease;
}

.submit-button:hover,
.submit-button:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.submit-button.animated {
  -webkit-animation: 0.25s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
  animation: 0.25s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.submit-button>span {
  display: block;
  color: white;
  text-align: center;
}

.submit-button>span.pre-state-msg {
  transition: all 0.25s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0s;
}

.submit-button.state-1 .pre-state-msg {
  margin-top: 0px;
  /* margin-top: -38px; */
}

.submit-button.state-2 .pre-state-msg {
  margin-top: -42px;
}