<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Healthy Store{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
		
		<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <!-- Bootstrap core CSS -->
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<link rel="stylesheet" href="{% static 'css/smoke.css' %}" />  
		  
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />  
		<link rel="stylesheet" href="{% static 'css/slick/slick.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/slick/slick-theme.css' %}"/>
       	<script src="{% static 'js/script.js' %}"></script>
		
		
		<style>
		body {
		{% for bg_img in bg_image %}
		background-image: url({{bg_img.image.url}});
		{% endfor %}
		background-repeat: repeat;		
		}
		</style>
		
    </head>

	
    <body>
	<div class="wrapper">
		<div class="wrapper-content">
			<div class="auth-container">
			{% if user.is_authenticated %}
			{% include 'authrow.html' %}
			{% else %}
			<a href="{% url 'register_url' %}">Sign in</a> | <a href="{%url 'login_url' %}">Log in</a>
			{% endif %}
			</div>
			<div class="nav-container center">
				{% include 'navbar.html' %}
			</div>
				{% block content %}
				{% endblock %}
		</div>
	</div>
		{% include 'footer.html' %}
	<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<div id="upbutton"></div>
	
	<script src="{% static 'js/up.js' %}"></script>

<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/buttonInCart.js' %}"></script>

<script type="text/javascript">
$('.slider-nav').slick({
  slidesToShow: 6,
  slidesToScroll: 6,
  autoplay: false,
  autoplaySpeed: 4000,
});
</script>
	</body>
	</html>