<div class="row mb-5">
	<div class="col-md-12">
				<div class="card">

					<div class="card-body">
					
					<span class="title_category_price">
							${{ picture.product.final_price }}
							{% if picture.product.discount %}
							<del>${{ picture.product.price }}</del> {% endif %}
						</span>
						
						<div class="group-img">
						
							<a href="{% url 'product' picture.product.id %}">
								<img src="{{ picture.image.url }}" class="img-responsive" align="left">
							</a>
						
						<div class="group-description">
							<h4>
							<a href="{% url 'product' picture.product.id %}" class="green-text">
							{{ picture.product.name }}
							</a>
						</h4>
							{{picture.product.description}}
							</div>
						</div>
							{% if picture.product.discount %}
							<div class="discount_category">
								{{ picture.product.discount }}%
							</div>
							{% endif %}
							<div class="module-right">
							<form id="form_buying_product center" method="post" class="form_buying_product form-inline" action="{% url 'cart_adding' %}">
								{% csrf_token %}
								<div class="form-group ">
								<!-- <input type="number" class="form-control" placeholder="0" id="number"> -->
								<button type="button" class="but counterBut dec bot_pm">-</button>
								  <input type="text" class="field fieldCount form-control form-group center" id="{{ picture.product.id }}" value="1" data-min="1" data-max="1000">
								<button type="button" class="but counterBut inc bot_pm">+</button>
								</div>

								<div class="form-group">
								<button type="submit" id="submit-btn" class="submit-button state-0 order"
										data-product_id="{{ picture.product.id }}"
										data-nmb="1"
										data-name="{{ picture.product.name }}"
										data-image_url="{{ picture.image.url }}"
								>
									<span class="pre-state-msg">ADD TO CART</span>
									<span class="done-state-msg hide">DONE!</span>
								</button>
								</div>
						</form>
						</div>	
					</div>
					
						
							
				
					
				</div>
	</div>
</div>
